# Add the path to your file followed by ! in order to whitelist it from the .gitifnore file
*
!*/
!.gitignore
!LICENSE

#Backend
!src/backend/*.py

#Frontend
!src/frontend/images/*
!src/frontend/elements/*/*
!src/frontend/scripts/*
!src/frontend/manifest.json

#Vector_DB
!src/vector_db/*.py

#Common
!src/common/*.py

!src/main.py
!src/listener.py