# Add the path to your file followed by ! in order to whitelist it from the .gitignore file
*
!*/
!.gitignore
!LICENSE
!README.md

!nginx-1.27.2/conf/*

!chromaviz.ipynb
!sentiment.ipynb

#Backend
!src/backend/*.py

#Frontend
!src/frontend/images/*
!src/frontend/elements/*/*
!src/frontend/scripts/*
!src/frontend/manifest.json
#D3.js assets
!src/assets/*

#Vector_DB
!src/vector_db/*.py

#Common
!src/common/*.py

!src/main.py
!src/tom_get_previous_urls.py
!src/start_chat.py
!src/vectordb_emb_api.py
!src/vectordb2folder.py
!src/listener.py

!src/test.ipynb