div.chatbot-container {
    position: fixed;
    bottom: 20px;  
    right: 20px;
    width: 30em;
    height: 55em;
    margin: 0;
    padding: 0;
    z-index: 9999; 
}

#chatbot {
    width: 100%;
    height: 100%;
    border: none;
}