div.d3-dashboard {
    all: initial; /* Reset all CSS properties */
    position: absolute; /* Position the container relative to the viewport */

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height:auto;
    width:auto;
 
    /* background-color: rgba(228, 147, 42, 0.116); */
    background-color: rgba(189, 195, 199,0.851);
    border-radius: 8px;
    border: 2px solid #BA0C2F;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    color: #0f201e;
    z-index: 10;

}

line.tick {
    stroke: steelblue;
    stroke-width: 1rem;
    cursor: pointer;
}

circle {
    position: absolute;
    stroke: #333;
    stroke-width: 1.5px;
    cursor: pointer;
}

text {
    pointer-events: none;
}

#d3-preview {

    position: fixed !important;
    pointer-events: none ;
    transition: all 0.1s ease;

    font-family: "Times New Roman", Times, serif;
    font-size: 19px;
    font-weight: bold;
    color: black;
    background-color: rgba(249, 249, 246, 0.9);
    border: 2px solid #333;
    padding: 5px 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    max-width: 500px;


    display:none;

    text-align: center;
    color: #0f201e;
    z-index:999;
}
